name: CI

on:
  push:
  pull_request:

jobs:
  tests:
    name: Tests (Ruby ${{ matrix.ruby }})
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        ruby:
          - "4.0"
          - "3.4"
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install package dependencies
        run: "[ -e $APT_DEPS ] || sudo apt-get install -y --no-install-recommends $APT_DEPS"
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
